.tulisan {
    position: absolute;
    top: 250px;
    right: 480px;
  }
  .tulisan h1 {
    font-size: 70px;
    text-align: center;
  }
  .tulisan button {
    position: absolute;
    top: 140px;
    right: 100px;
  }
  .container-uts2024 {
    height: 350px;
  }#home {
  background-image: url("bahan-uts2024/assets/img/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home button {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 14px;
}

#home-content {
  position: relative;
  top: 200px;
}

#services {
  background-color: #1678a2;
  color: white;
}

#uts {
  position: relative;
  top: 60px;
}

#uts button {
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin-top: 10px;
}

.dot {
  height: 7rem;
  width: 7rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 150px;
}

.description {
  text-align: center;
  display: inline-flex;
}

#welcome {
  background-image: url("bahan-uts2024/assets/img/bg-callout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

#welcome h1 {
  font-size: 3.5rem;
}

#welcome button {
  margin-top: -500px;
}

#welcome [class*="col"] {
  margin-top: 200px;
}

.hover {
  width: 600px;
  margin: 0px;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.hover:hover {
  width: 550px;
  height: auto;
  opacity: 0.7;
}

[class*="desk"] {
  text-align: start;
  position: relative;
  bottom: 120px;
  margin-bottom: -900px;
  color: white;
}

.desk-1 {
  right: 8vw;
}
.desk-2 {
  left: 7vw;
}

.porto-content {
  margin-top: -500px;
  margin-bottom: 50px;
}

#click {
  background-color: #1678a2;
}

#click h1 {
  margin-top: 100px;
  color: white;
}

.tombol {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 170px;
}

.tombol button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#map {
  background-image: url("bahan-uts2024/assets/img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}

#space {
  gap: 10px;
}

.round {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #1678a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s;
  cursor: pointer;
}

.round:hover {
  background-color: #389bc5;
}

footer {
  height: 200px;
  margin-top: -200px;
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
}
  .tulisan2 {
    position: absolute;
    top: 840px;
    right: 550px;
  }
  .tulisan2 h2 {
    font-size: 40px;
    text-align: center;
  }
  .tulisan2 button {
    position: absolute;
    top: 100px;
    right: 30px;
  }
  .container-service {
    height: 500px;
    background-color: #1678a2;
  }
  .tulisan3 {
    position: absolute;
    top: 1150px;
    text-align: center;
    right: 540px;
  }
  .tulisan3 p {
    color: gold;
  }
  .tulisan3 h2 {
    color: white;
  }
  .lingkaran1 {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 1300px;
    left: 150px;
  }
  .lingkaran2 {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 1300px;
    left: 450px;
  }
  .lingkaran3 {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 1300px;
    left: 750px;
  }
  .lingkaran4 {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 1300px;
    left: 1050px;
  }
  .tulisan4 {
    position: relative;
    top: 83px;
    text-align: center;
  }
  .tulisan4 p {
    position: absolute;
    font-size: 15px;
    color: white;
    white-space: nowrap;
    text-align: center;
  }
  .tulisan4 h6 {
    color: white;
  }
  .tulisan5 {
    position: absolute;
    top: 1850px;
    right: 450px;
  }
  .tulisan5 button {
    position: absolute;
    top: 120px;
    right: 100px;
  }
  .container-portofolio {
    height: 700px;
  }
  .tulisan7 p {
    color: gold;
  }
  .tulisan7 {
    text-align: center;
    position: absolute;
    top: 2400px;
    right: 530px;
  }
  .gambar {
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gambar1 img {
    transition: transform 0.3s ease;
  }
  .gambar1:hover {
    transform: scale(1.1);
  }
  .gambar2 img {
    transition: transform 0.3s ease;
  }
  .gambar2:hover {
    transform: scale(1.1);
  }
  .gambar3 img {
    transition: transform 0.3s ease;
  }
  .gambar3:hover {
    transform: scale(1.1);
  }
  .gambar4 img {
    transition: transform 0.3s ease;
  }
  .gambar4:hover {
    transform: scale(1.1);
  }
  
  .gambar img {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }
  .tulisan8 {
    color: white;
    position: absolute;
    top: 2750px;
    left: 200px;
    font-size: 12px;
  }
  .tulisan9 {
    color: white;
    position: absolute;
    top: 2750px;
    right: 200px;
    font-size: 12px;
  }
  .tulisan10 {
    color: white;
    position: absolute;
    top: 3050px;
    left: 200px;
    font-size: 12px;
  }
  .tulisan11 {
    color: white;
    position: absolute;
    top: 3050px;
    right: 260px;
    font-size: 12px;
  }
  .container-button {
    height: 300px;
    background-color: #1678a2;
  }
  .tulisan12 {
    position: absolute;
    top: 3350px;
    right: 400px;
  }
  .tulisan12 h2 {
    color: white;
    font-size: 25px;
    text-align: center;
  }
  .button1 {
    position: absolute;
    top: 40px;
    left: 120px;
    height: 60px;
  }
  .button2 {
    position: absolute;
    top: 40px;
    left: 250px;
    height: 60px;
  }
  .container-map img {
    width: 1300px;
  }
  .footer {
    height: 250px;
  }
  .footer p {
    text-align: center;
    position: absolute;
    top: 4050px;
    left: 565px;
  }
  .kotak {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .lingkaran {
    height: 50px;
    width: 50px;
    background-color: #1678a2;
    border-radius: 50%;
  }